* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100vw;
  background-color: WHITE;
  margin-bottom: 20px;
}

.slideshow-container {
  position: relative;
  background-color: white;
  max-width: 1000px;
  margin: auto;
}

.slides {
  position: relative;
  display: none;
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slides img {
  position: relative;
  top: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  object-fit: fill;
}

#slideDots {
  position: absolute;
  right: 5px;
  top: 370px;
  display: flex;
  justify-content: end;
  text-align: right;
  padding: 5px;
  background: transparent;
  z-index: 10;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  transition: background-color 0.6s ease;
}

#productTab {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px;
  font: 1.5rem;
}

.tab {
  margin: 0 15px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
.tab.active {
  border-bottom: 2px solid black;
}

#productsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productCard img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.productCard h3 {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

#viewAll {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 30px;
}

#viewAllButton {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#viewAllButton:hover {
  outline: black solid 2px;
  color: black;
  background-color: white;
}
